.DS_Store
__pycache__/
*/__pycache__/
tmp/
*.pyc
.idea/
.vscode/
core/magic.api.py
core/magic.config.json
outputs/
sql-llama-train/
test.py
api.py
ooo-api.py
baseline/
tmp/
data/bird/
data/spider/
data/foo/
dev_databases/
dev_databases.zip
train_databases/
database/
*.sqlite